.text-glow { /* Removed glowing effect */ } 

.vertical-timeline-element {
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid green; /* Add green border */
  border-radius: 8px; /* Optional: add some rounding to the corners */
}

.vertical-timeline-element:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8), 0 0 30px rgba(0, 255, 0, 0.6);
}

.vertical-timeline::before {
  background-color: orange; /* Change connector line to orange */
}

.icon-glow {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
} 